<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sathvik Bot!</title>
    <style>
        body{
        }
        .container{
            height:100vh;
            background: url("/static/bg.jpeg");
        }
        h1{
            border:2px solid black;
            padding:3rem;
            text-align:center;
            background:#fcce54;
        }
        .btn{
            padding:2rem;   
            background:#fc54d2;
            color:white;
            border:1px solid #cea944;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Simple Bot!</h1>
        <div class="input">
            <form action="/home" >
                <input type="text" name="username" placeholder="enter your name">
                <button class="btn" href="/home">Get started</button>
            </form>
            

        </div>
    </div>
</body>
</html>